* {
  margin: 0;
  border: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;

}

p {
  font-style: initial;
  font-size: 16pt;
  padding: 2.4rem 0 1rem;
  margin: 20px
}

.toolbarlogin {
  text-align: center;
}

.teste {
  background: #0a78d1;
  background-repeat: no-repeat;
  overflow: hidden;
  height: 100vh;
  /*altura minima da pagina*/
  width: 100%;
  /*largura minima da pagina*/
  display: flex;
  align-items: center;
  justify-content: center;

}

main.bloco {
  margin-top: 20px;
  background: white;
  min-width: 480px;
  min-height: 90vh;
  padding: 2rem;
  border-radius: 5px;
  box-shadow: 0 0 1.8rem rgb(0 0 0 / 15%);
}

.form-group {
  padding: 1rem 2rem;
  flex-direction: row;

}

input {
  width: 100%;
  margin-top: 30px;
}
input::placeholder{
  font-size: 16px;

}

.input-field {
  padding: 2px 2px 26px;
  width: 100%;
}

.inputs {
  background: none;
  border-bottom: 1px solid #ccc;
}


.inputs:focus {
  outline: none;

}

button {
  background-color: white;
  color: #0a79d1;
  border: 1px solid #0a79d1;
  width: 100%;
  height: 50px;
  border-radius: 5px;
  margin-bottom: 25px;
  margin-top: 25px;

}

button:hover {
  background: #0a79d1;
  color: white;
}

.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 40px;
}
